table {
    cursor: text;
    border: 3px;
    table-layout: fixed ;
    width: 100%;
    /* margin: 10px; */
  }
  /* Sticky Headers */
  .table.sticky th {
    position: sticky;
    left: 0;
    background-color: var(--primary);
    pointer-events: none;
    color: var(--light);
  }
  .table.sticky th::after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    bottom: 0;
    right:0;
    top: 0;
    background-color: var(--secondary);

  }
  
  tr {
    /* background-color:white; */
    background-color: var(--white);
  }
  td {
    font-size: 14;
    cursor: default;
    padding: 3px;
    width: 60px;
  }
  
  td.selected {
    background-color: var(--warning);
  }
  #empty {
    pointer-events: none;
    background-color: var(--light);
    /* background: rgb(0, 0, 0, 0.03); */
  }
  .dropdown {
    margin: 10px;
  }
  .row {
    margin: 10px;
  }
  #slider {
    padding: 20px;
  }
  .btn {
    margin: 0px;
  }
  #remove {
    float: right;

  }
#warning {
  color: var(--danger);
  /* opacity: 0.1; */

}
  /* ul {
    //margin-right: 10px;

  } */